 {% load static %}
<main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h4 class="text-dark">Admin Dashboard</h4>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                        {% if perms.vitrine.view_service %}
                           <div class="card border-0">
                        <div class="card-header">
                            <h5 class="card-title">
                                Listes des services
                            </h5>
                        </div>
                        <div class="card-body">
                         <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom du service</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">icone</th>
                                        <th scope="col">Photo</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                {% if service %}
                                <tbody>
                                  {% for donne in service %}
                                    <tr>
                                       <td>{{ donne.nom }}</td>
                                        <td>{{ donne.description }}</td>
                                        <td>{{ donne.icone }}</td>
                                        <td><img src="{{ donne.photo.url }}" width="100px" height="100px" alt=""></td>
                                        <td>
                                            <div class="btn-group">
                                                {% if perms.vitrine.change_service %}
                                                <button id="btnOuvrirModifier" class="btn btn-outline-primary btn-sm btnModifier" data-id="{{ donne.id }}"><i class="bi bi-pencil"></i></button>
                                                {% endif %}
                                                {% if perms.vitrine.delete_service %}
                                                <button id="btnOuvrirSupprimer" class="btn btn-outline-danger btn-sm btnSuprimerService" data-id="{{ donne.id }}"><i class="bi bi-trash"></i></button>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                  {% endfor %}
                                   
                                </tbody>
                                {% endif %}
                            </table>
                         </div>
                        </div>
                    </div>
                        {% endif %}
                        {% if perms.vitrine.view_article %}
                                  <div class="card border-0">
                        <div class="card-header">
                            <h5 class="card-title">
                                Listes des actualités
                            </h5>

                        </div>
                        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Titre</th>
                                        <th scope="col">Désctiption</th>
                                        <th scope="col">URL photo</th>
                                        <th scope="col">Date</th>
                                        
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                {% if article %}
                                <tbody>
                                {% for donne in article %}
                                    <tr>
                                       <td>{{ donne.titre }}</td>
                                        <td>{{ donne.description }}</td>
                                        <td><img src="{% static donne.image_url %}" alt="" width="100" height="100"></td>
                                        <td>{{ donne.date }}</td>
                                        <td>
                                            <div class="btn-group">
                                                {% if perms.vitrine.change_article %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-primary btn-sm btnModifierActualite"><i class="bi bi-pencil"></i></button>
                                                {% endif %}
                                                {% if perms.vitrine.delete_article %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-danger btn-sm btnSuprimerActualite"><i class="bi bi-trash"></i></button>
                                                {% endif %}
                                               
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                   
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                        </div>
                    </div>
                        {% endif %}
                          
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                        {% if perms.vitrine.view_departement %}
                             <div class="card border-0">
                        <div class="card-header">
                            <h5 class="card-title">
                                Listes des départements
                            </h5>
                        </div>
                        <div class="card-body">
                         <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom du département</th>
                                        <th scope="col">Déscription</th>
                                        <th scope="col">URL photo</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                {% if departement %}
                                <tbody>
                                   {% for donne in departement %}
                                    <tr>
                                        <td>{{ donne.nom }}</td>
                                        <td>{{ donne.description }}</td>
                                        <td><img src="{% static donne.image_url %}" alt="" width="100" height="100"></td>
                                        <td>
                                            <div class="btn-group">
                                                {% if perms.vitrine.change_departement %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-primary btn-sm btnModifierDepartement"><i class="bi bi-pencil"></i></button>
                                                {% endif %}
                                                {% if perms.vitrine.delete_departement %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-danger btn-sm btnSuprimerDepartement" ><i class="bi bi-trash"></i></button>
                                                {% endif %}
                                            
                                            </div>
                                        </td>
                                    </tr>
                                   {% endfor %}
                                   
                                </tbody>
                                {% endif %}
                            </table>
                         </div>
                        </div>
                    </div>
                        {% endif %}
                        {% if perms.vitrine.view_agence %}
                          <div class="card border-0">
                        <div class="card-header">
                            <h5 class="card-title">
                               Listes des agences
                            </h5>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom du agence</th>
                                        <th scope="col">Telephone</th>
                                        <th scope="col">Adresse</th>
                                        <th scope="col">Photo</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                {% if agence %}
                                <tbody>
                                    {% for donne in agence %}
                                    <tr>
                                        <td>{{ donne.nom }}</td>
                                        <td>{{ donne.telephone }}</td>
                                        <td>{{ donne.adresse }}</td>
                                        <td><img src="{{ donne.photo.url }}" alt="" width="100" height="100"></td>
                                        
                                        <td>
                                            <div class="btn-group">
                                                {% if perms.vitrine.change_agence %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-primary btn-sm btnModifierAgence"><i class="bi bi-pencil"></i></button>
                                                {% endif %}
                                                {% if perms.vitrine.delete_agence %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-danger btn-sm btnSuprimerAgence"><i class="bi bi-trash"></i></button>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                   {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                        {% if perms.vitrine.view_apropos %}
                            <div class="card border-0">
                        <div class="card-header">
                            <h5 class="card-title">
                               Listes des a-propos
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Titre</th>
                                        <th scope="col">Déscription</th>
                                        <th scope="col">Icone</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                {% if apropos %}
                                <tbody>
                                    {% for donne in apropos %}
                                    <tr>
                                        <td>{{ donne.titre }}</td>
                                        <td>{{ donne.description }}</td>
                                        <td>{{ donne.icone }}</td>
                                        <td>
                                            <div class="btn-group">
                                                {% if perms.vitrine.change_apropos %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-primary btn-sm btnModifierApropos"><i class="bi bi-pencil"></i></button>
                                                {% endif %}
                                                {% if perms.vitrine.delete_apropos %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-danger btn-sm btnSuprimerApropos"><i class="bi bi-trash"></i></button>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                   {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                        {% if perms.vitrine.view_equipe %}
                            <div class="card border-0">
                        <div class="card-header">
                            <h5 class="card-title">
                               Photo des équipes
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                       
                                        <th scope="col">Photo</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                {% if equipe %}
                                <tbody>
                                    {% for donne in equipe %}
                                    <tr>
                                       
                                        <td><img src="{{ donne.photo.url }}" alt="" height="100px" width="120px"></td>
                                        <td>
                                            <div class="btn-group">
                                                {% if perms.vitrine.delete_apropos %}
                                                <button data-id="{{ donne.id }}" class="btn btn-outline-danger btn-sm btnSuprimerEquipe"><i class="bi bi-trash"></i></button>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                   {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                        </div>
                    </div>

                    <!-- Table Element -->

                </div>
            </main>