{% extends 'admin/dashboard.html' %}
{% load static %}
{% block content %}
      <div class="container">
      <div class="row">
          <div class="col-1">
              
          </div>
          <div class="col-10">
              <div class="card bg-light">
                  <div class="card-header">
                      <h3 class="text-center">PRIX</h3>
                  </div>
          <div class="card-body">
              <form action="add_prix" class=" p-2 m-3" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
              <div class="form-group mb-3">
                  <label for="nom" class="form-label">Nom du service :</label>
                  {% if service %}
                  <select name="nom" id="nom" class="form-select form-select-md" style="padding:2px">
                  {% for donne in service %}
                      <option value="{{ donne.nom }}">{{ donne.nom }}</option>
                  {% endfor %}
                  </select>
                  {% endif %}
              </div>
               <div class="form-group mb-3">
                   <label for="description" class="form-label">Prix par ans : </label>
                   <input type="number"  name="prix" placeholder="Prix" id="prix" class="form-control form-control-md p-3">
              </div>
              <div class="form-group mb-3">
                  <label for="icone" class="form-label">Icone :</label>
                  <input type="text" name="icone" placeholder="Icone" id="icone" class="form-control form-control-md p-4">
              </div>
              <div class="form-group mb-3 ">
                 <center><button class="btn btn-success btn-lg">Ajouter</button></center>
              </div>
              
                  
                  {% include "admin/message.html" %}
              
          </form>
          </div>
      </div>
          </div>
          <div class="col-1">
              
          </div>
      </div>
      
          
           
    </div>
{% endblock %}