{% extends 'base.html' %}
{% load static %}
{% block title %}Assurance ARO - A-propos {% endblock %}
{% block content %}
<section id="about" class="about">
      <div class="container-fluid">
           <div class="section-title">
          <h2>A-propos</h2>
        </div>

        <div class="row">
            
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
              <img src="{% static 'assets/img/photo.jpg' %}" alt="" class="img-fluid" style="background-size: cover;background-repeat: no-repeat">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3> Le partenaire de confiance pour votre protection</h3>
            <p>Assurance Aro est une compagnie d'assurance à Madagascar, qui se consacre à la protection de ses clients.</p>
              {% if apropos %}
                  {% for donne in apropos %}
            <div class="icon-box">
              <div class="icon"><i class="{{ donne.icone }}"></i></div>
              <h4 class="title"><a href="">{{ donne.titre }}</a></h4>
              <p class="description">{{ donne.description }}</p>
            </div>
                  {% endfor %}
              {% endif %}
              
          </div>
        </div>

      </div>
    </section>
    
{% endblock %}