{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<div class="foot" >
<footer id="footer" style="background: linear-gradient(59deg, rgba(2,0,36,1) 0%, rgba(29,92,66,1) 0%, rgba(88,166,24,1) 100%);" >

    <div class="footer-top" style="border-radius :10% 0% 10% 10% / 40% 40% 0% 40%  ;" >
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3><img src="{% static 'assets/img/logo.png' %}" alt="" width="100px" height="140px"></h3>
            <p>
              <strong>Téléphone:</strong>{{ autre.telephone }}<br>
              <strong>Email:</strong>{{ autre.email }}<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Liens</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/accueil">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">A-propos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/service">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/departement">Departement</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assurance automobile</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assurance habitation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assurance santé</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assurance vie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assurance voyage</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Assurance transport</a></li>
                
            </ul>
          </div>

         

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright text-white">
            <strong><span>Assurances ARO</span></strong>
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/ASSURANCESARO" class="facebook"><i class="bx bxl-facebook"></i></a>
      </div>
    </div>
  </footer>
    </div>